@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121212;
    font-family: "roboto serif";
    color: #ffffff;
    

}
.title{
   display: flex;
   align-items: center;
   justify-content: center;
    background-image: url("../../components/images/fuzik.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    height: 400px;
    width: 100%;

}
.title p{
   font-size: 48px;
}
.about-1{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-image{
    width: 647px;
    height: 436px;
    margin-right: 40px;
}
.about-1 p{
    font-size: 24px;
    padding-left: 40px;
}
.left-image{
    width: 647px;
    height: 436px;
    margin-left: 40px;
    
}
@media screen and (max-width:1064px) {
    .about-1{
        display: flex;
        flex-direction: column;
    }
    .about-1 p{
        font-size: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .left-image{
        max-width: 350px;
        max-height: 400px;
    }
    .right-image{
        max-width: 350px;
        max-height: 400px;
    }

} 
@media  screen and  (min-width:770px){

    .left-image{
        max-width: 647px;
        max-height: 436px;
    }
    .right-image{
        max-width: 647px;
        max-height: 436px;
    }
}

